*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(./images/images/back.jpg);
    background-position: center;
    background-size: cover;
}

.image{
    position: relative;
    height: 10rem;
    width: 10rem;
}

.image .profile-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
}